/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 1.4rem;
    color: #d1cdcd;
    background-image: url('assets/images/ADHDologia_stage_by_Kamil_Nawirski.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3rem;
}

/* Header */
header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(56, 37, 133, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Logo */
.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 220px;
    }
}

/* Content Wrapper */
.content-wrapper {
    width: 100%;
    margin-top: 100px; /* Adjust to prevent overlap with the fixed header */
}

/* About Section */
#about {
    margin: 2rem 0 4rem;
    padding: 2rem 0 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.about-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Services Section */
#services {
    margin-bottom: 3rem;
    padding-bottom: 80px;
    display: block;
}

/* Service Cards */
.service-card {
    background-color: #42454a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-card h3 {
    font-size: 1.5rem;
    color: #fdf4f4;
    margin-bottom: 1rem;
}

.service-signup {
    padding: 10px 20px;
    background-color: #8364ff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 7px;
    transition: background-color 0.4s;
}

.service-signup:hover {
    background-color: #684ec1;
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
    body {
        padding: 2rem;
        font-size: 1.2rem;
    }

    header .title {
        font-size: 2.5rem;
    }

    header .subtitle {
        font-size: 1rem;
    }

    .service-card {
        width: 100%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1.1rem;
        padding: 1rem;
    }

    .logo {
        width: 200px;
    }

    .service-card {
        padding: 15px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .service-card h3 {
        font-size: 1.3rem;
    }

    .price-value {
        font-size: 1.2rem;
    }

    .service-signup {
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        padding: 1rem;
        font-size: 1rem;
    }

    .logo {
        width: 150px;
    }

    .service-card {
        width: 100%;
        padding: 10px;
    }

    .service-card h3 {
        font-size: 1.2rem;
    }

    .price-value {
        font-size: 1rem;
    }
}
